<div class="main-container">
  <div class="search-bar-container">

    <div class="field">
      <p class="control has-icons-left">
        <input #filterInput class="input" type="text" placeholder="Filter" (keyup)="filterByEvent($event)">
        <span class="icon is-small is-left">
          <i class="fas fa-search"></i>
        </span>
      </p>
    </div>

  </div>

  <div class="notes-list">

    <app-note-card
          *ngFor="let note of filteredNotes"
          [link]="note.id"
          (delete)="deleteNote(note.id)"
          [title]="note.title"
          [body]="note.body">
    </app-note-card>

    <!-- <app-note-card [title]="'Sample-Title-1'" [body]="'Sample-Body-1'"></app-note-card>
    <app-note-card [title]="'Sample-Title-2'" [body]="'Sample-Body-2'"></app-note-card>
    <app-note-card title="Sample-Title-3" body="Sample-Body-3"></app-note-card> -->
  </div>

  <button class="button floating-add-button is-primary" routerLink="new">+ Add</button>

</div>
